<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionwithtwilio20230221204910.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7026d057-897c-4ecf-ba57-018b4fbb8f32/resourcegroups/rg_twilio/providers/Microsoft.Web/sites/functionWithTwilio20230221204910</ResourceId>
    <UserName>$functionWithTwilio20230221204910</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionwithtwilio20230221204910.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>